<h1> <%= @cocktail.name  %></h1>
<h2>Ingredients</h2>
<li>
  <% @cocktail.ingredients.each do |ingredient|%>
    <ul><%= ingredient.name %></ul>
  <% end %>
</li>

<br>

<%= render 'doses/form', {cocktail: @cocktail, dose: @dose} %>
